{% extends 'core/base.html' %}
{% load static %}
{% block contenido %}
<div class="row mt-5"></div>
<div class="row m-5">
    <div class="col-md-2"></div>
    {% for p in producto %}
    <div class="col-md-8">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col-auto d-none d-lg-block">
            {% if p.imagen %}
                <img src="data:imagen/jpg;base64,{{p.imagen}}" class="card-img-top" alt="..." height="400px" width="300px">
            {% else %}
                <img src="{% static 'core/img/noImg.png' %}" class="card-img-top" alt="..." height="400px" width="300px">
            {% endif %}
            </div>
            <div class="col p-4 d-flex flex-column position-static">
                <h3>{{p.data.1}}</h3>
                <p>Stock: {{p.data.3}}</p>
                <p>Precio: {{p.data.4}} $</p>
                <p>{{p.data.2}}</p>
                <div class="mt-5"><a href="{% url 'sistema_pago' p.data.0 %}" class="btn btn-primary">Comprar</a></div>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="col-md-2"></div>
</div>
<div class="row mb-5"></div>
{% endblock %}